Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

.lintstagedrc.json:

{
    "*.css": [
      "10up-toolkit lint-style"
    ],
    "*.js": [
      "10up-toolkit lint-js"
    ],
    "*.jsx": [
      "10up-toolkit lint-js"
    ],
    "*.php": [
      "./vendor/bin/phpcs --extensions=php --warning-severity=8 -s"
    ]
}

Removing devURL from mu-plugin
  mu-plugins/10up-plugin/package.json
Due: none

add empty sections to theme.json
  themes/10up-theme/theme.json
Due: none

add basic content sizes for the editor
  themes/10up-theme/theme.json
Due: none

add barebones theme.json file
  themes/10up-theme/theme.json
Due: none

set color settings to disable custom colors, duotone and gradients
  themes/10up-theme/theme.json
Due: none

remove theme suport of core block patterns
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add spacing settings to remove custom margin and padding options
  themes/10up-theme/theme.json
Due: none

add typography settings to disble custom font size, line height and drop cap
  themes/10up-theme/theme.json
Due: none

remove custom colors from core button block
  themes/10up-theme/theme.json
Due: none

remove theme suport of block-templates
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add explenation for block-templates removal
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix move block settings into settings object
  themes/10up-theme/theme.json
Due: none

add initial readme in regards to theme.json
  themes/10up-theme/README.md
Due: none

add more spacing in readme
  themes/10up-theme/README.md
Due: none

add to FAQ section
  themes/10up-theme/README.md
Due: none

add basics of `theme.json` to documentation
  themes/10up-theme/README.md
Due: none

Added ct.css, inlined stylesheet and cloaked behind flag
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update themes/10up-theme/includes/core.php
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix typo in docblock
  themes/10up-theme/includes/blocks/example-block/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add `Update URI` header field to 10up-plugin-loader.php
  mu-plugins/10up-plugin-loader.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add font sizes values from core into theme json
  themes/10up-theme/theme.json
Due: none

Updated README
  themes/10up-theme/README.md
Due: none

update example block registration to new syntax
  themes/10up-theme/includes/blocks/example-block/index.js
Due: 10up-toolkit lint-js

update block apiVersion to 2
  themes/10up-theme/includes/blocks/example-block/block.json
Due: none

add schema to block.json file
  themes/10up-theme/includes/blocks/example-block/block.json
Due: none

remove not needed values from block supports
  themes/10up-theme/includes/blocks/example-block/block.json
Due: none

fix spelling of textdomain key in block.json
  themes/10up-theme/includes/blocks/example-block/block.json
Due: none

Update block to useBlockProps & get_block_wrapper_attributes
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/includes/blocks/example-block/markup.php
  themes/10up-theme/includes/blocks/example-block/register.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

rename attribute of example block to title
  themes/10up-theme/includes/blocks/example-block/block.json
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/includes/blocks/example-block/markup.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

load standard stylesheet as editor stylesheet
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

rename editor styles to editor styles override to make it clear that it is meant for overrides only
  themes/10up-theme/assets/css/frontend/editor-style-overrides.css
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/package.json
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Remove conditional post type check for block categories
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

update node version to 16
  .nvmrc
Due: none

update node engine to version 16
  package.json
Due: none

update block registration to happen automatically
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/example-block/markup.php
  themes/10up-theme/includes/blocks/example-block/register.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix ensure editor style overrides file uses generated version
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Updating to 10up-toolkit v2
  mu-plugins/10up-plugin/package.json
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/package.json
Due: 10up-toolkit lint-js

Removing lerna in favor of npm workspaces (>=7)
  README.md
  lerna.json
  package.json
Due: none

specify ports to avoid collisions
  mu-plugins/10up-plugin/package.json
  package.json
  themes/10up-theme/package.json
Due: none

updaing readme
  README.md
Due: none
