Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Remove confusing php code from a .gitkeep file
  mu-plugins/10up-plugin/includes/classes/.gitkeep
Due: none

automatically register block patterns located in directory
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/patterns/example-html-pattern.html
  themes/10up-theme/patterns/example-php-pattern.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

update existing example of how to include patterns
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/patterns/example-html-pattern.html
  themes/10up-theme/patterns/example-php-pattern.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix update how blocks are being included
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix remove looping over possible child themes
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix reference of block title attribute in markup.php
  themes/10up-theme/includes/blocks/example-block/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix use global variable directly
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Base functionality for import and run
  composer.json
  composer.lock
  mu-plugins/10up-plugin/package-lock.json
  package-lock.json
  themes/10up-theme/assets/js/frontend/components/.gitkeep
  themes/10up-theme/assets/js/frontend/components/navigation.js
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/assets/js/util/import-and-run.js
Due: 10up-toolkit lint-js

Added test case, added context for default function export
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/assets/js/util/import-and-run.js
Due: 10up-toolkit lint-js

Making engines strict
  package.json
Due: none

Updating 10up-toolkit
  mu-plugins/10up-plugin/package.json
  themes/10up-theme/package.json
Due: none

WIP: HMR set up
  mu-plugins/10up-plugin/package.json
  mu-plugins/10up-plugin/plugin.php
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/functions.php
  themes/10up-theme/package.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Reworking frontend css
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/includes/core.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Initial pass at integration HMR & fast refresh into wp-scaffold
  .gitignore
  mu-plugins/10up-plugin/plugin.php
  themes/10up-theme/assets/js/admin/admin.js
  themes/10up-theme/assets/js/admin/editor-style-overrides.js
  themes/10up-theme/assets/js/shared/shared.js
  themes/10up-theme/assets/js/styleguide/styleguide.js
  themes/10up-theme/functions.php
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/example-block/block.json
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/includes/core.php
  themes/10up-theme/package.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fixing styleguide path
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Updating loading of dist/fast-refresh.php
  mu-plugins/10up-plugin/package.json
  mu-plugins/10up-plugin/plugin.php
  package-lock.json
  themes/10up-theme/functions.php
  themes/10up-theme/package.json
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Removing unnecessary code
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Refactoring plugin to the new structure
  mu-plugins/10up-plugin/assets/js/admin/admin.js
  mu-plugins/10up-plugin/assets/js/frontend/frontend.js
  mu-plugins/10up-plugin/assets/js/shared/shared.js
  mu-plugins/10up-plugin/includes/core.php
  mu-plugins/10up-plugin/includes/utility.php
  mu-plugins/10up-plugin/package.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Final touches
  mu-plugins/10up-plugin/assets/css/frontend/style.css
  mu-plugins/10up-plugin/package.json
  mu-plugins/10up-plugin/plugin.php
  package-lock.json
  themes/10up-theme/functions.php
  themes/10up-theme/package.json
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Removing unnecessary files
  .gitignore
  package-lock.json
Due: none

Fix Utility file in the plugin
  mu-plugins/10up-plugin/includes/core.php
  mu-plugins/10up-plugin/plugin.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fixing constants in plugin utility
  mu-plugins/10up-plugin/assets/css/frontend/style.css
  mu-plugins/10up-plugin/includes/utility.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

renaming blocks editor style to editor.css
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/includes/blocks/example-block/editor.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Fix and clean up dynamic module loading
  mu-plugins/10up-plugin/package-lock.json
  package-lock.json
  themes/10up-theme/assets/js/frontend/components/index.js
  themes/10up-theme/assets/js/frontend/components/navigation.js
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/assets/js/styleguide/uikitsection.js
  themes/10up-theme/assets/js/util/import-and-run.js
Due: 10up-toolkit lint-js

Update example navigation component selectors
  themes/10up-theme/assets/js/frontend/components/index.js
Due: 10up-toolkit lint-js

Updating toolkit to the released version
  mu-plugins/10up-plugin/package.json
  themes/10up-theme/package.json
Due: none

integrated plop for ui component generation
  composer.lock
  mu-plugins/10up-plugin/package-lock.json
  package-lock.json
  themes/10up-theme/README.md
  themes/10up-theme/assets/css/frontend/components/example-ui-component/example-ui-component.css
  themes/10up-theme/assets/css/frontend/components/example-ui-component/index.css
  themes/10up-theme/assets/css/frontend/components/index.css
  themes/10up-theme/assets/css/styleguide/styleguide.css
  themes/10up-theme/assets/js/frontend/components/example-ui-component/example-ui-component.js
  themes/10up-theme/assets/js/frontend/components/example-ui-component/find-example-ui-component.js
  themes/10up-theme/assets/js/frontend/components/example-ui-component/index.js
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/composer.json
  themes/10up-theme/composer.lock
  themes/10up-theme/package.json
  themes/10up-theme/partials/example-ui-component/example-ui-component.php
  themes/10up-theme/partials/example-ui-component/styleguide/example-default.php
  themes/10up-theme/partials/example-ui-component/styleguide/examples.php
  themes/10up-theme/plop-templates/ui-component-css-index.hbs
  themes/10up-theme/plop-templates/ui-component-css.hbs
  themes/10up-theme/plop-templates/ui-component-js-find.hbs
  themes/10up-theme/plop-templates/ui-component-js-index.hbs
  themes/10up-theme/plop-templates/ui-component-js.hbs
  themes/10up-theme/plop-templates/ui-component-partial-styleguide-example.hbs
  themes/10up-theme/plop-templates/ui-component-partial-styleguide-index.hbs
  themes/10up-theme/plop-templates/ui-component-partial.hbs
  themes/10up-theme/plopfile.js
  themes/10up-theme/templates/page-styleguide.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

updated plopfile to allow eslint
  themes/10up-theme/plopfile.js
Due: 10up-toolkit lint-js

Updated get_color utility function to cope with HEX, RGB(A), HSL(A)
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

updated styleguide.css to ensure colour swatch labels are displayed on hover
  themes/10up-theme/assets/css/styleguide/styleguide.css
Due: 10up-toolkit lint-style

fix readme
  README.md
Due: none

add custom spacing variables to theme.json
  themes/10up-theme/theme.json
Due: none

Changing default ports
  mu-plugins/10up-plugin/package.json
  themes/10up-theme/package.json
Due: none

Fix package name for easier search-replace
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/example-block/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Rename example function name
  themes/10up-theme/includes/template-tags.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix text domain for easier search-replace
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/example-block/block.json
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Removing lerna clean command and updating README.md
  README.md
  mu-plugins/10up-plugin/package.json
  package.json
  themes/10up-theme/package.json
Due: none

add cypress depenencies
  package.json
Due: none

add cypress.json file
  cypress.json
  package-lock.json
Due: none

fixing phpcs errors
  phpcs.xml
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: (any of: *.js) or (any of: *.jsx)
  ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s: any of: *.php
