Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

.lintstagedrc.json:

{
    "*.css": [
        "stylelint"
    ],
    "*.js": [
        "eslint"
    ],
    "*.jsx": [
        "eslint"
    ],
    "*.php": [
        "./vendor/bin/phpcs --extensions=php --warning-severity=8 -s"
    ]
}

Add example tests for blocks
  themes/10up-theme/includes/blocks/example-block/block.test.js
  themes/10up-theme/package-lock.json
  themes/10up-theme/package.json
Due: eslint

use 10up-scripts to lint and not the packages directly
  .lintstagedrc.json
Due: none

Fix get_asset_info. Closes #29
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add allowed blocks filter / array to scaffold
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix phpcs warnings
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add a hook to dissable the dropCap setting by default
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Replacing @10up/scripts with 10up-toolkit
  mu-plugins/10up-plugin/package.json
  themes/10up-theme/package.json
Due: none

Use 10up-toolkit
  .lintstagedrc.json
Due: none

Updated 10up Scripts to 10up Toolkit on README.md
  README.md
Due: none

Remove prop-types package.
  themes/10up-theme/package-lock.json
  themes/10up-theme/package.json
Due: none

Remove references to prop-types in example block.
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/includes/blocks/example-block/props-shape.js
Due: eslint

Removing package-lock from scaffold
  .eslintrc
  .nvmrc
  mu-plugins/10up-plugin/package-lock.json
  package-lock.json
  themes/10up-theme/package-lock.json
Due: none

Add skip to content link
  themes/10up-theme/assets/css/frontend/base/index.css
  themes/10up-theme/assets/css/frontend/base/utils.css
  themes/10up-theme/footer.php
  themes/10up-theme/header.php
Due: stylelint, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add spacing variables
  themes/10up-theme/assets/css/frontend/global/index.css
  themes/10up-theme/assets/css/frontend/global/spacing.css
Due: stylelint

Add typography variables
  themes/10up-theme/assets/css/frontend/global/index.css
  themes/10up-theme/assets/css/frontend/global/typography.css
Due: stylelint

Add custom font sizes and base styles
  themes/10up-theme/assets/css/frontend/base/index.css
  themes/10up-theme/assets/css/frontend/base/typography.css
  themes/10up-theme/includes/core.php
  themes/10up-theme/templates/page-styleguide.php
Due: stylelint, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Increase h6 mobile font-size
  themes/10up-theme/assets/css/frontend/base/typography.css
Due: stylelint

Undo removing custom font-size selector
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add 10up navigation component package
  themes/10up-theme/package-lock.json
  themes/10up-theme/package.json
Due: none

Add header navigation example
  themes/10up-theme/assets/css/frontend/layout/index.css
  themes/10up-theme/assets/css/frontend/layout/navigation.css
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/assets/js/frontend/components/navigation.js
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/header.php
  themes/10up-theme/partials/header/site-header.php
  themes/10up-theme/partials/header/site-logo.php
  themes/10up-theme/partials/header/site-navigation.php
Due: stylelint, eslint, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add debug plugins by default and add wpackagist as a composer repository, gitignoring the plugin dir since those should be managed through composer.
  .gitignore
  composer.json
  composer.lock
Due: none

Refactor Skip to Content link implementation
  themes/10up-theme/assets/css/frontend/base/utils.css
  themes/10up-theme/assets/css/frontend/components/index.css
  themes/10up-theme/assets/css/frontend/components/skip-to-content-link.css
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/header.php
Due: stylelint, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

More verbose spacing variables naming
  themes/10up-theme/assets/css/frontend/global/spacing.css
Due: stylelint

Rename font-sizes
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix font-weight
  themes/10up-theme/assets/css/frontend/global/typography.css
Due: stylelint

Replace px units with rem
  themes/10up-theme/assets/css/frontend/global/typography.css
Due: stylelint

Update line-heights to improve accessibility
  themes/10up-theme/assets/css/frontend/global/typography.css
Due: stylelint

Longer font-size variable name
  themes/10up-theme/assets/css/frontend/base/typography.css
  themes/10up-theme/assets/css/frontend/global/typography.css
Due: stylelint

More readable variable names
  themes/10up-theme/assets/css/frontend/base/typography.css
  themes/10up-theme/assets/css/frontend/global/colors.css
  themes/10up-theme/assets/css/frontend/global/typography.css
Due: stylelint

Disable color setting from core paragraph block
  themes/10up-theme/theme.json
Due: none

Remove drop caps and sizez from paragraph blocks
  themes/10up-theme/theme.json
Due: none

Add prefix to style and script handles
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add support for HTML5 navigation-widgets
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add .eslintignore to theme
  themes/10up-theme/.eslintignore
Due: none

Remove webpack.config.babel.js from .eslintignore in theme and plugin
  mu-plugins/10up-plugin/.eslintignore
  themes/10up-theme/.eslintignore
Due: none

Move fontSize to typography object
  themes/10up-theme/includes/blocks/example-block/block.json
Due: none

Move lineHeight to typography object
  themes/10up-theme/includes/blocks/example-block/block.json
Due: none

Change deprecated block_categories filter to block_categories_all
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Removing package-lock
  package-lock.json
Due: none
