Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

.lintstagedrc.json:

{
    "*.css": [
      "10up-toolkit lint-style"
    ],
    "*.js": [
      "10up-toolkit lint-js"
    ],
    "*.jsx": [
      "10up-toolkit lint-js"
    ],
    "*.php": [
      "./vendor/bin/phpcs --extensions=php --warning-severity=8 -s"
    ]
}

add RSA support to login users if the site access is restricted by RSA
  cypress/fixtures/.gitkeep
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/index.js
Due: 10up-toolkit lint-js

add login and new post test
  .eslintignore
  cypress.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/1-wordpress/login.spec.js
  cypress/integration/1-wordpress/new-post.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/support/commands.js
Due: 10up-toolkit lint-js

allow husky to install properly regardless of where wp-scaffold is used
  package.json
Due: none

adjust the pre-commit script so it can find it's files
  .husky/pre-commit
Due: none

update baseUrl
  cypress.json
Due: none

fixes a small typo in the readme
  README.md
Due: none

fix only filter `plugins_url` on pre WordPress 6.0 versions
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

automatically ennqueue block frontend assets in render callback when the handle is registered
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix move get_block_wrapper_attributes call into `markup.php` file
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/example-block/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix remove reference of non existent variable class_name in block markup
  themes/10up-theme/includes/blocks/example-block/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

First pass at UI plugin updates
  package.json
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/tui-button/block.json
  themes/10up-theme/includes/blocks/tui-button/edit.js
  themes/10up-theme/includes/blocks/tui-button/index.css
  themes/10up-theme/includes/blocks/tui-button/index.js
  themes/10up-theme/includes/blocks/tui-button/markup.php
  themes/10up-theme/includes/blocks/tui-button/save.js
  themes/10up-theme/package.json
  themes/10up-theme/templates/page-button-sink.php
  themes/10up-theme/theme.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Moves get_block_wrapper_attributes to the markup file
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/tui-button/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fixed typo
  themes/10up-theme/includes/blocks/tui-button/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Remove console test
  themes/10up-theme/includes/blocks/tui-button/index.js
Due: 10up-toolkit lint-js

Moves to wp_kses_post
  themes/10up-theme/includes/blocks/tui-button/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Making colors more obvious from theme.json for dev purposes
  themes/10up-theme/templates/page-button-sink.php
  themes/10up-theme/theme.json
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update sink page output - see todos
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

update pattern registration flow to use patterns directory
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/patterns/example-pattern.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix type
  README.md
Due: none

Fix typo
  README.md
Due: none

Add tailwind v3 and remove unnecessary css files
  themes/10up-theme/assets/css/frontend/base/index.css
  themes/10up-theme/assets/css/frontend/base/prefers-reduced-motion.css
  themes/10up-theme/assets/css/frontend/base/utils.css
  themes/10up-theme/assets/css/frontend/base/wordpress.css
  themes/10up-theme/assets/css/frontend/components/skip-to-content-link.css
  themes/10up-theme/assets/css/frontend/global/colors.css
  themes/10up-theme/assets/css/frontend/global/index.css
  themes/10up-theme/assets/css/frontend/global/media-queries.css
  themes/10up-theme/assets/css/tailwind/index.css
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/index.php
  themes/10up-theme/package.json
  themes/10up-theme/postcss.config.js
  themes/10up-theme/tailwind.config.js
  themes/10up-theme/theme.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix folder structure and add partials + templates to hot reload
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/assets/css/frontend/tailwind/index.css
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Mod remove editor import from frontend js
  themes/10up-theme/assets/js/frontend/frontend.js
Due: 10up-toolkit lint-js

Adds json copy and kitchen sink variants
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/templates/page-button-sink.php
  themes/10up-theme/theme.copy.json
  themes/10up-theme/theme.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

update how assets are enqueued
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Remove remnant quotation mark in attribute
  themes/10up-theme/includes/blocks/example-block/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update initial theme.json variables refactor
  themes/10up-theme/theme.copy.json
  themes/10up-theme/theme.ui.json
Due: none

Fix color palatte variables
  themes/10up-theme/theme.ui.json
Due: none

Add custom styles / output for core blocks - theme.json - button block custom style
  themes/10up-theme/includes/block-styles/button.js
  themes/10up-theme/includes/block-styles/index.js
  themes/10up-theme/includes/core-block-overrides.js
  themes/10up-theme/theme.ui.json
Due: 10up-toolkit lint-js

Add body styles to theme.json
  themes/10up-theme/theme.ui.json
Due: none

update theme.json file to use version 2
  themes/10up-theme/theme.json
Due: none

Update styles output - clean up
  themes/10up-theme/theme.ui.json
Due: none

Add all tailwind plugins and added additional content targets
  package-lock.json
  themes/10up-theme/package.json
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

theme.json updates
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/templates/page-button-sink.php
  themes/10up-theme/theme.ui.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update to use import pattern instead of @tailwind
  themes/10up-theme/assets/css/frontend/base/wordpress.css
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/assets/css/frontend/tailwind/index.css
Due: 10up-toolkit lint-style

Update decoration variable names. Update interactive classes in sink.
  themes/10up-theme/templates/page-button-sink.php
  themes/10up-theme/theme.ui.json
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

remove devurl
  themes/10up-theme/package.json
Due: none

Updates to theme.json & button sink output - add text button to sink page - add outline and update active vars in theme.json
  themes/10up-theme/assets/js/admin/admin.js
  themes/10up-theme/templates/page-button-sink.php
  themes/10up-theme/theme.ui.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Move UI Plugin core block styles to plugin
  themes/10up-theme/includes/block-styles/button.js
  themes/10up-theme/includes/block-styles/index.js
  themes/10up-theme/includes/core-block-overrides.js
Due: 10up-toolkit lint-js
