Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs

.lintstagedrc.json:

{
    "*.css": [
      "10up-toolkit lint-style"
    ],
    "*.js": [
      "10up-toolkit lint-js"
    ],
    "*.jsx": [
      "10up-toolkit lint-js"
    ],
    "*.php": [
      "./vendor/bin/phpcs"
    ]
}

PHP matrix
  .github/workflows/php.yml
Due: none

Don’t fast fail
  .github/workflows/php.yml
Due: none

Only support 8.1+
  .github/workflows/php.yml
  composer.json
  composer.lock
  mu-plugins/10up-plugin/composer.json
  mu-plugins/10up-plugin/composer.lock
  themes/10up-theme/composer.json
  themes/10up-theme/composer.lock
Due: none

Update tests to make less flakey
  mu-plugins/10up-plugin/tests/includes/classes/ModuleInitializationTest.php
  themes/10up-theme/tests/includes/classes/ModuleInitializationTest.php
Due: ./vendor/bin/phpcs

Fix test namespaces
  mu-plugins/10up-plugin/composer.json
  mu-plugins/10up-plugin/tests/includes/classes/ModuleInitializationTest.php
  themes/10up-theme/composer.json
  themes/10up-theme/tests/includes/classes/ModuleInitializationTest.php
Due: ./vendor/bin/phpcs

Linting fixes
  mu-plugins/10up-plugin/includes/classes/ModuleInitialization.php
  themes/10up-theme/includes/classes/ModuleInitialization.php
Due: ./vendor/bin/phpcs

Don’t lint anything from plugins by default
  phpcs.xml
Due: none

Only supporting 8.3 and 8.4 moving forward
  .github/workflows/php.yml
Due: none

Readme fix
  docs/registering-classes.md
Due: none

Remove warning check
  mu-plugins/10up-plugin/includes/core.php
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs

Fix Blocks.php asset file check and wp_register_style params
  themes/10up-theme/src/Blocks.php
Due: ./vendor/bin/phpcs

fix name of tenup_plugin_admin css file
  mu-plugins/10up-plugin/src/Assets.php
Due: ./vendor/bin/phpcs

update asset enqueing to be more logical
  themes/10up-block-theme/assets/css/blocks/core/image.css
  themes/10up-block-theme/assets/css/editor-canvas-style-overrides.css
  themes/10up-block-theme/assets/css/editor-frame-style-overrides.css
  themes/10up-block-theme/assets/css/editor-style-overrides.css
  themes/10up-block-theme/package.json
  themes/10up-block-theme/src/Assets.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs

cleanup
  themes/10up-block-theme/assets/css/editor-canvas-style-overrides.css
  themes/10up-block-theme/assets/css/editor-frame-style-overrides.css
Due: 10up-toolkit lint-style

opt into loading separate block assets for new projects using classic themes
  themes/10up-theme/src/Blocks.php
Due: ./vendor/bin/phpcs

Update all the docs
  docs/README.md
  docs/backend-development/README.md
  docs/backend-development/architecture-overview.md
  docs/backend-development/framework-structure.md
  docs/backend-development/mu-plugin-architecture.md
  docs/backend-development/theme-architecture.md
  docs/contributing-community/README.md
  docs/contributing-community/contributing-guidelines.md
  docs/development-guides/README.md
  docs/development-guides/creating-custom-blocks.md
  docs/development-guides/creating-post-types-and-taxonomies.md
  docs/development-guides/registering-classes.md
  docs/frontend-development/README.md
  docs/frontend-development/css-guidelines.md
  docs/frontend-development/frontend-build-process.md
  docs/frontend-development/javascript-guidelines.md
  docs/installation.md
  docs/testing-quality/README.md
  docs/testing-quality/code-quality.md
  docs/testing-quality/debugging-php.md
  docs/testing-quality/phpstan.md
  docs/testing-quality/unit-testing.md
  docs/troubleshooting-faq/README.md
  docs/troubleshooting-faq/troubleshooting-guide.md
Due: none

minor updates to docs
  docs/development-guides/creating-custom-blocks.md
  docs/frontend-development/css-guidelines.md
  docs/frontend-development/javascript-guidelines.md
Due: none

add explainer for dynamic blocks usage
  docs/development-guides/creating-custom-blocks.md
Due: none

Updates
  docs/README.md
  docs/backend-development/framework-structure.md
  docs/backend-development/mu-plugin-architecture.md
  docs/backend-development/theme-architecture.md
  docs/frontend-development/README.md
  docs/frontend-development/css-guidelines.md
  docs/frontend-development/frontend-build-process.md
  docs/frontend-development/javascript-guidelines.md
Due: none

Update docs/testing-quality/code-quality.md
  docs/testing-quality/code-quality.md
Due: none

Update docs/frontend-development/javascript-guidelines.md
  docs/frontend-development/javascript-guidelines.md
Due: none

Update docs/frontend-development/css-guidelines.md
  docs/frontend-development/css-guidelines.md
Due: none

Fixes
  docs/development-guides/creating-custom-blocks.md
  docs/frontend-development/javascript-guidelines.md
Due: none

Move 10up-toolkit to be a dependency
  mu-plugins/10up-plugin/package.json
  package-lock.json
  package.json
  themes/10up-block-theme/package.json
  themes/10up-theme/package.json
Due: none

Use root package to define NPM and Node versions
  mu-plugins/10up-plugin/package.json
  themes/10up-block-theme/.npmrc
  themes/10up-block-theme/.nvmrc
  themes/10up-block-theme/package.json
  themes/10up-theme/package.json
Due: none

Remove deprecated feature in favor of .npmrc file config
  package.json
Due: none

Update 10up-toolkit to latest version
  mu-plugins/10up-plugin/package.json
  package-lock.json
  package.json
  themes/10up-block-theme/package.json
  themes/10up-theme/package.json
Due: none

Formatting
  mu-plugins/10up-plugin/package.json
  package.json
  themes/10up-theme/package.json
Due: none

Remove third party block suggestions from block inserter
  themes/10up-block-theme/src/Blocks.php
  themes/10up-theme/src/Blocks.php
Due: ./vendor/bin/phpcs

Move js detection to assets file
  themes/10up-block-theme/src/Assets.php
  themes/10up-block-theme/src/ThemeCore.php
Due: ./vendor/bin/phpcs

Remove scrollbar detection
  themes/10up-block-theme/src/ThemeCore.php
Due: ./vendor/bin/phpcs

Revert
  themes/10up-theme/src/Assets.php
  themes/10up-theme/src/ThemeCore.php
Due: ./vendor/bin/phpcs

Add to block theme
  themes/10up-block-theme/src/Assets.php
  themes/10up-block-theme/src/ThemeCore.php
Due: ./vendor/bin/phpcs

Scan for secrets with truffelhog
  .github/workflows/secrets.yml
Due: none

Added permissions to read
  .github/workflows/secrets.yml
Due: none

Refactor actions to support third workflow with virus scanning
  .github/workflows/php.yml
Due: none

Coding standards and code quality
  .github/workflows/code-quality.yml
  .github/workflows/coding-standards.yml
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/node.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/stylelint.yml
  .github/workflows/truffle-hog.yml
  .github/workflows/virus-scan.yml
Due: none
