Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update README 5-18-23
  README.md
Due: none

Add modern-normalize package and install - includes package-lock and package.json updates
  package-lock.json
  themes/10up-theme/package-lock.json
  themes/10up-theme/package.json
Due: none

Update css reset and add reset.css file
  themes/10up-theme/assets/css/frontend/global/colors.css
  themes/10up-theme/assets/css/frontend/global/index.css
  themes/10up-theme/assets/css/frontend/global/reset.css
  themes/10up-theme/assets/css/frontend/style.css
Due: 10up-toolkit lint-style

update reset.css with isolation declaration
  themes/10up-theme/assets/css/frontend/global/reset.css
Due: 10up-toolkit lint-style

Delete package-lock files
  package-lock.json
  themes/10up-theme/package-lock.json
Due: none

Remove manifest.json
  themes/10up-theme/includes/core.php
  themes/10up-theme/manifest.json
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Updated the readme with a common problem related to composer install & created a .prettierignore for those using prettier
  .prettierignore
  README.md
Due: none

Updated composer to fix composer install error on new setups, also include update to the package-lock.json file
  composer.json
  composer.lock
  package-lock.json
Due: none

Added trailing line break to conform to best practices
  .prettierignore
Due: none

Removed the package lock file & updated the gitignore accordingly
  .gitignore
  package-lock.json
Due: none

Updated .gitignore so package json won't be ignored
  .gitignore
Due: none

Added @10up/babel-preset-default to dev dependencies.
  package-lock.json
  package.json
Due: none

update toolkit to latest version
  mu-plugins/10up-plugin/package.json
  themes/10up-theme/package.json
Due: none

fix: prettier and eslint
  package.json
Due: none

Update README.md
  README.md
Due: none

fix prettier issue
  mu-plugins/10up-plugin/package.json
  package-lock.json
  package.json
  themes/10up-theme/package.json
Due: none

Update composer
  composer.lock
Due: none

rename core block overrides JS file to block editor script for greater clarity
  themes/10up-theme/includes/block-editor-script.js
  themes/10up-theme/includes/core.php
  themes/10up-theme/package.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update themes/10up-theme/includes/core.php
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix deprecated variable format
  mu-plugins/10up-plugin/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add ability to scaffold blocks in theme
  bin/create-block-template/block-templates/edit.js.mustache
  bin/create-block-template/block-templates/index.js.mustache
  bin/create-block-template/block-templates/markup.php.mustache
  bin/create-block-template/block-templates/style.css.mustache
  bin/create-block-template/index.js
  package-lock.json
  package.json
  themes/10up-theme/package.json
Due: 10up-toolkit lint-js

add sample cta block
  themes/10up-theme/includes/blocks/call-to-action/block.json
  themes/10up-theme/includes/blocks/call-to-action/edit.js
  themes/10up-theme/includes/blocks/call-to-action/index.js
  themes/10up-theme/includes/blocks/call-to-action/markup.php
  themes/10up-theme/includes/blocks/call-to-action/style.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

output sample block
  themes/10up-theme/includes/blocks/call-to-action/block.json
  themes/10up-theme/includes/blocks/call-to-action/style.css
  themes/10up-theme/index.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add template for blocks with a view script
  bin/create-block-template/block-templates/view.js.mustache
  bin/create-block-template/index.js
Due: 10up-toolkit lint-js

Fix reorder theme supports to make it more clear that editor styles only work with propper support
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix code comment
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix update node engine to 16
  themes/10up-theme/package.json
Due: none

eslint config setup
  mu-plugins/10up-plugin/.lintstagedrc.json
  package.json
  themes/10up-theme/.lintstagedrc.json
  themes/10up-theme/package.json
Due: none

updating lock file
  package-lock.json
Due: none

add .vscode folder
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

ignore launch.json and tasks.json
  .gitignore
Due: none

run format-js
  package.json
  themes/10up-theme/assets/js/styleguide/uikitsection.js
  themes/10up-theme/includes/blocks/example-block/save.js
Due: 10up-toolkit lint-js

enable eslint as a formatter
  .vscode/settings.json
Due: none

add new reset file - refactor css file structure organizatoin - add new utilities for css
  themes/10up-theme/assets/css/frontend/01-settings/colors.css
  themes/10up-theme/assets/css/frontend/01-settings/custom-selectors.css
  themes/10up-theme/assets/css/frontend/01-settings/index.css
  themes/10up-theme/assets/css/frontend/01-settings/media-queries.css
  themes/10up-theme/assets/css/frontend/02-global/index.css
  themes/10up-theme/assets/css/frontend/02-global/mixins.css
  themes/10up-theme/assets/css/frontend/02-global/reset.css
  themes/10up-theme/assets/css/frontend/03-base/button.css
  themes/10up-theme/assets/css/frontend/03-base/index.css
  themes/10up-theme/assets/css/frontend/03-base/link.css
  themes/10up-theme/assets/css/frontend/03-base/prefers-reduced-motion.css
  themes/10up-theme/assets/css/frontend/03-base/utils.css
  themes/10up-theme/assets/css/frontend/03-base/wordpress.css
  themes/10up-theme/assets/css/frontend/04-layout/index.css
  themes/10up-theme/assets/css/frontend/05-templates/index.css
  themes/10up-theme/assets/css/frontend/06-components/index.css
  themes/10up-theme/assets/css/frontend/06-components/skip-to-content-link.css
  themes/10up-theme/assets/css/frontend/global/reset.css
  themes/10up-theme/assets/css/frontend/style.css
Due: 10up-toolkit lint-style

Add additional comments to reset.css
  themes/10up-theme/assets/css/frontend/02-global/reset.css
Due: 10up-toolkit lint-style

update node version to 18
  .nvmrc
  mu-plugins/10up-plugin/package.json
  package-lock.json
  package.json
  themes/10up-theme/package.json
Due: none

fix remove pre version 6.0 filter
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix remove whitespaces
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix remove reference of block library
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: (any of: *.js) or (any of: *.jsx)
  ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s: any of: *.php
