Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Updated plopfile to align with linting
  themes/10up-theme/assets/js/frontend/components/example-ui-component/example-ui-component.js
  themes/10up-theme/assets/js/frontend/components/example-ui-component/find-example-ui-component.js
  themes/10up-theme/plop-templates/ui-component-js-find.hbs
  themes/10up-theme/plop-templates/ui-component-js.hbs
Due: 10up-toolkit lint-js

fresh package lock
  package-lock.json
Due: none

updated readme
  themes/10up-theme/README.md
Due: none

readme edits
  themes/10up-theme/README.md
Due: none

readme typo fix
  themes/10up-theme/README.md
Due: none

Add image ratio to theme.json
  themes/10up-theme/theme.ui.json
Due: none

Remove deleted bundle file from UI Kit
  themes/10up-theme/theme.json
Due: none

Change buldle reference to correct file
  themes/10up-theme/assets/js/frontend/frontend.js
Due: 10up-toolkit lint-js

Ensure we are using the correct default theme.json file
  themes/10up-theme/theme.json
Due: none

Use correct path to ui kit in package.json
  themes/10up-theme/package.json
Due: none

Updated get_color() to accept percentage values for RGBA and HSLA alpha channels
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

corrected get_colors() colour value matching regex
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

K.I.S.S - looser match for rgb(a) hsl(a)
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Remove "Custom Blocks" block category.
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/example-block/block.json
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Register "Custom Blocks" block collection.
  themes/10up-theme/includes/block-collection.js
  themes/10up-theme/includes/core-block-overrides.js
Due: 10up-toolkit lint-js

Update widths in theme.json
  themes/10up-theme/theme.ui.json
Due: none

update toolkit to latest stable version
  themes/10up-theme/package.json
Due: none

update toolit in mu-plugin to latest version
  mu-plugins/10up-plugin/package.json
Due: none

remove editor.css file from example block
  themes/10up-theme/includes/blocks/example-block/block.json
  themes/10up-theme/includes/blocks/example-block/editor.css
Due: 10up-toolkit lint-style

Update PHPStan deps to support WP 6
  composer.json
  composer.lock
Due: none

Improve sorting in theme.ui.json
  themes/10up-theme/theme.ui.json
Due: none

Add appearanceTools to theme.json
  themes/10up-theme/theme.ui.json
Due: none

Whitespace
  themes/10up-theme/theme.ui.json
Due: none

Remove spacing.padding false and spacing.units [] from theme.json
  themes/10up-theme/theme.ui.json
Due: none

Add classes, main.is-root-container.is-layout-constrained
  themes/10up-theme/header.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

updates theme.json to v2 for compatibility with filtering
  themes/10up-theme/theme.json
Due: none

updates theme.json schema to 6.1
  themes/10up-theme/theme.json
Due: none

Initialize the array load_cass_order
  mu-plugins/10up-plugin/includes/classes/ModuleInitialization.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

auto versioning for editor styles
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix css path & include editor styles
  composer.json
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/example-block/block.json
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/includes/blocks/example-block/editor.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Repair typo "clases" to "classes"
  themes/10up-theme/includes/classes/Module.php
  themes/10up-theme/includes/classes/ModuleInitialization.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Repair typo "the the" to "the"
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Remove echo from echo translate function
  themes/10up-theme/header.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix issue with static classes
  mu-plugins/10up-plugin/includes/classes/ModuleInitialization.php
  themes/10up-theme/includes/classes/ModuleInitialization.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix incorrect sequence in all editorconfig files
  .editorconfig
  mu-plugins/10up-plugin/.editorconfig
  themes/10up-theme/.editorconfig
Due: none

Swap files to correct formatting
  .editorconfig
  mu-plugins/10up-plugin/.editorconfig
  themes/10up-theme/.editorconfig
Due: none

Update package.json
  package.json
Due: none

Update pre-commit
  .husky/pre-commit
Due: none

Fix mu-plugin entry file referencing wrong variable
  mu-plugins/10up-plugin/plugin.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix use json schema for WordPress 6.2
  themes/10up-theme/theme.json
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: (any of: *.js) or (any of: *.jsx)
  ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s: any of: *.php
