Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs

.lintstagedrc.json:

{
    "*.css": [
      "10up-toolkit lint-style"
    ],
    "*.js": [
      "10up-toolkit lint-js"
    ],
    "*.jsx": [
      "10up-toolkit lint-js"
    ],
    "*.php": [
      "./vendor/bin/phpcs"
    ]
}

Update themes/10up-block-theme/parts/README.md
  themes/10up-block-theme/parts/README.md
Due: none

Update themes/10up-block-theme/README.md
  themes/10up-block-theme/README.md
Due: none

fix: remove nested readmes
  .gitignore
  themes/10up-block-theme/README.md
  themes/10up-block-theme/assets/README.md
  themes/10up-block-theme/blocks/README.md
  themes/10up-block-theme/parts/README.md
  themes/10up-block-theme/patterns/README.md
  themes/10up-block-theme/src/README.md
  themes/10up-block-theme/templates/README.md
Due: none

fix: update create block template for scaffold
  bin/create-block-template/block-templates/edit.tsx.mustache
  bin/create-block-template/block-templates/index.tsx.mustache
  bin/create-block-template/block-templates/view.js.mustache
  bin/create-block-template/block-templates/view.ts.mustache
  bin/create-block-template/index.js
  docs/development-guides/creating-custom-blocks.md
  themes/10up-block-theme/README.md
  themes/10up-block-theme/blocks/example-block/block.json
  themes/10up-block-theme/blocks/example-block/edit.tsx
  themes/10up-block-theme/blocks/example-block/index.ts
  themes/10up-block-theme/blocks/example-block/markup.php
  themes/10up-block-theme/blocks/example-block/style.css
  themes/10up-block-theme/package.json
  themes/10up-block-theme/styles/surface-primary.json
  themes/10up-block-theme/theme.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs

fix: stop tracking root package lock
  package-lock.json
  themes/10up-block-theme/style.css
Due: 10up-toolkit lint-style

Apply suggestion from @claytoncollie
  themes/10up-block-theme/README.md
Due: none

fix: readd package-lock for build process
  .gitignore
  package-lock.json
  themes/10up-block-theme/README.md
Due: none

fix: streamline readme
  themes/10up-block-theme/README.md
  themes/10up-block-theme/composer.json
Due: none

fix: update readme for both root scaffold and solo theme
  themes/10up-block-theme/README.md
Due: none

fix: remove optionalDependcies and add back styles
  package-lock.json
  themes/10up-block-theme/README.md
  themes/10up-block-theme/package.json
  themes/10up-block-theme/styles/surface-secondary.json
  themes/10up-block-theme/styles/surface-tertiary.json
Due: none

fix: update README numbering and fix ts warning
  themes/10up-block-theme/README.md
  themes/10up-block-theme/tsconfig.json
Due: none

fix: baseline alignment of 10up-theme
  package-lock.json
  package.json
  themes/10up-block-theme/package.json
  themes/10up-theme/README.md
  themes/10up-theme/assets/js/block-editor/block-collection.ts
  themes/10up-theme/assets/js/block-editor/block-editor-script.ts
  themes/10up-theme/assets/js/block-editor/block-filters/index.ts
  themes/10up-theme/assets/js/block-editor/block-styles/index.ts
  themes/10up-theme/assets/js/block-editor/block-variations/index.ts
  themes/10up-theme/assets/js/block-editor/block-variations/unregister-variations.ts
  themes/10up-theme/assets/js/frontend/editor-style-overrides.ts
  themes/10up-theme/assets/js/frontend/frontend.ts
  themes/10up-theme/blocks/example-block/block.json
  themes/10up-theme/blocks/example-block/edit.js
  themes/10up-theme/blocks/example-block/index.js
  themes/10up-theme/blocks/example-block/markup.php
  themes/10up-theme/blocks/example-block/save.js
  themes/10up-theme/package.json
  themes/10up-theme/patterns/base-card.php
  themes/10up-theme/patterns/example-pattern.php
  themes/10up-theme/theme.json
  themes/10up-theme/tsconfig.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs

fix: typescript typing baselines
  themes/10up-theme/blocks/.gitkeep
  themes/10up-theme/tsconfig.json
  themes/10up-theme/types/block-json.d.ts
  themes/10up-theme/types/css.d.ts
Due: none

fix: commit root updates
  package-lock.json
  package.json
  themes/10up-block-theme/tsconfig.json
  themes/10up-block-theme/types/css.d.ts
Due: none

fix: husky pre-commit running lint-staged in wrong directory
  .husky/pre-commit
Due: none

fix: align licensing on GPLv2 (#181)
  LICENSE.md
  composer.json
  mu-plugins/10up-plugin/composer.json
  themes/10up-block-theme/style.css
  themes/10up-theme/composer.json
  themes/10up-theme/style.css
Due: 10up-toolkit lint-style

fix: output dir="ltr" attribute for LTR languages (#174)
  themes/10up-block-theme/src/ThemeCore.php
  themes/10up-theme/src/ThemeCore.php
Due: ./vendor/bin/phpcs

Potential fix for pull request finding
  themes/10up-block-theme/src/ThemeCore.php
Due: ./vendor/bin/phpcs

Potential fix for pull request finding
  themes/10up-theme/src/ThemeCore.php
Due: ./vendor/bin/phpcs

Remove duplicate entry of readdirSync from scaffold.mjs
  bin/scaffold.mjs
Due: none

Add note about PII scrubbing
  docs/local-setup.md
Due: none

refactor: rely on wp() including the css-chunk cleanup by default
  mu-plugins/10up-plugin/vite.config.ts
  packages/10up-wp-vite-plugins-0.1.0-beta.0.tgz
Due: none

fix: update package-lock
  .lintstagedrc.json
  mu-plugins/10up-plugin/src/Assets.php
  mu-plugins/10up-plugin/vite.config.ts
  package-lock.json
  themes/10up-block-theme/src/Assets.php
  themes/10up-block-theme/src/Blocks.php
  themes/10up-block-theme/src/ThemeCore.php
  themes/10up-block-theme/vite.config.ts
  themes/10up-theme/src/Assets.php
  themes/10up-theme/src/Blocks.php
  themes/10up-theme/src/ThemeCore.php
  themes/10up-theme/vite.config.ts
Due: ./vendor/bin/phpcs
