Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add class for vertical spacing to blocks
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update config to pull colors from theme json, content updates
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Color tweaks, add defaults for container and extra breakpoint
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Cleanup/PR Fixes
  package-lock.json
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/package.json
Due: 10up-toolkit lint-style

fix traverse blocks in theme.json to get colors that aren’t used in global palette
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Update comment for core block overrides
  themes/10up-theme/includes/core-block-overrides.js
Due: 10up-toolkit lint-js

Enalbe text color mods in core/button
  themes/10up-theme/theme.ui.json
Due: none

Readded all official plugins and updated inline comments
  package-lock.json
  themes/10up-theme/package.json
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Updated tailwind helpers and config
  themes/10up-theme/includes/tailwind-helpers.js
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Added initial README updates
  themes/10up-theme/README.md
Due: none

Updates ui kit namespacing and paths
  package-lock.json
  package.json
  themes/10up-theme/assets/js/admin/admin.js
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/includes/blocks/tui-button/index.css
  themes/10up-theme/includes/core-block-overrides.js
  themes/10up-theme/package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Update namespace for get_component use statements
  themes/10up-theme/includes/blocks/tui-button/markup.php
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Adds partial prim, second, and tert outputs
  composer.lock
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Rename to 10up-ui-kit
  package-lock.json
  package.json
  themes/10up-theme/assets/js/admin/admin.js
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/includes/core-block-overrides.js
  themes/10up-theme/package.json
Due: 10up-toolkit lint-js

Cleanup to pass is-style fully
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add vscode extension recommendation
  .gitignore
  themes/10up-theme/.vscode/extensions.json
Due: none

.vscode folder should be in the root of the project
  .gitignore
  .vscode/extensions.json
Due: none

only track the extensions.json file, not other settings
  .gitignore
Due: none

Adds light and dark
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update to 6.0
  themes/10up-theme/theme.ui.json
Due: none

Adds screenreader arg to main button
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Adds dark and light background colors to button sink
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

add tabs block
  themes/10up-theme/assets/css/blocks/index.css
  themes/10up-theme/assets/css/blocks/tabs.css
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/includes/blocks/tab-item/block.json
  themes/10up-theme/includes/blocks/tab-item/edit.js
  themes/10up-theme/includes/blocks/tab-item/index.js
  themes/10up-theme/includes/blocks/tab-item/markup.php
  themes/10up-theme/includes/blocks/tabs/block.json
  themes/10up-theme/includes/blocks/tabs/edit.js
  themes/10up-theme/includes/blocks/tabs/index.js
  themes/10up-theme/includes/blocks/tabs/markup.php
  themes/10up-theme/includes/blocks/tabs/view.js
  themes/10up-theme/package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add additional wp specific breakpoints
  package-lock.json
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Remove default container padding
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Fix arbitrary class typos for reduced motion
  themes/10up-theme/assets/css/frontend/base/prefers-reduced-motion.css
Due: 10up-toolkit lint-style

Add Web Vitals to Scaffold
  themes/10up-theme/functions.php
  themes/10up-theme/includes/web-vitals.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Typo on README
  README.md
Due: none

Adding unmissable error
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update themes/10up-theme/functions.php
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Moving the kill-switch to the toolkit
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Setup PHPStan
  .lintstagedrc.json
  composer.json
  composer.lock
  phpstan.neon
  phpstan/config/default.neon
  phpstan/constants.php
  phpstan/stubs/wp-query.stub
  plugins/.gitkeep
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Update lint-staged to run PHPStan on updated files
  .lintstagedrc.json
Due: none

Remove issues that come from using array as a type rather than string[] or array<string> etc.
  phpstan/config/default.neon
Due: none

Version updates
  composer.json
  composer.lock
Due: none

fix editorial experience of tabs block
  themes/10up-theme/includes/blocks/tab-item/edit.js
  themes/10up-theme/includes/blocks/tabs/edit.js
  themes/10up-theme/package.json
Due: 10up-toolkit lint-js

fix typo in doc comment
  themes/10up-theme/includes/blocks/example-block/markup.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Fix typo in README.md
  README.md
Due: none

Remove content from .gitkeep
  mu-plugins/10up-plugin/includes/classes/.gitkeep
Due: none

Fix register_block_pattern_categories() i18n namespace
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: (any of: *.js) or (any of: *.jsx)
  ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s: any of: *.php
