Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Avoiding packages to be published by default
  mu-plugins/10up-plugin/package.json
  package.json
  themes/10up-theme/package.json
Due: none

Preventing package-lock.json in inner packages
  mu-plugins/10up-plugin/.npmrc
  themes/10up-theme/.npmrc
Due: none

Housekeeping around the README
  README.md
Due: none

Upgrading all npm dependencies
  mu-plugins/10up-plugin/package.json
  package.json
  themes/10up-theme/package.json
Due: none

UI kit assets / namespace change
  package.json
  themes/10up-theme/assets/css/styleguide/styleguide.css
  themes/10up-theme/assets/js/admin/admin.js
  themes/10up-theme/assets/js/frontend/frontend.js
  themes/10up-theme/includes/core-block-overrides.js
  themes/10up-theme/package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Adds dark mode partial call
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Quick fix / remove echo toggle for script
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

fix remove `blocks.js` entry point from package.json since it no longer exists
  themes/10up-theme/package.json
Due: none

Fix - hot reload
  mu-plugins/10up-plugin/package.json
  package-lock.json
  themes/10up-theme/package.json
Due: none

add scaffold for link and button style to help engineers with editor style bleed
  themes/10up-theme/assets/css/frontend/base/button.css
  themes/10up-theme/assets/css/frontend/base/index.css
  themes/10up-theme/assets/css/frontend/base/link.css
Due: 10up-toolkit lint-style

fix use correct core selector for link
  themes/10up-theme/assets/css/frontend/base/link.css
Due: 10up-toolkit lint-style

fix typo in code comment
  themes/10up-theme/assets/css/frontend/base/button.css
  themes/10up-theme/assets/css/frontend/base/link.css
Due: 10up-toolkit lint-style

add `debug.log` file to gitignore
  .gitignore
Due: none

Fix ui kit plugin directory
  package-lock.json
  package.json
Due: none

ExampleBlockEdit not ExampleBockEdit
  themes/10up-theme/includes/blocks/example-block/edit.js
Due: 10up-toolkit lint-js

Remove unused `use TenUpTheme\Blocks\Example;`
  themes/10up-theme/includes/blocks.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add --workspaces to clean-dist npm script
  package.json
Due: none

Updating HMR kill switch
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Updating plugin too
  mu-plugins/10up-plugin/plugin.php
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

renames worspace path to align with plugin dir name
  package.json
Due: none

Reverting renames ui-kit directory
  package.json
Due: none

Removes non example.php template
  themes/10up-theme/templates/page-button-sink.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Function TenUpTheme\Utility\get_asset_info() should return array|string but returns null.
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Function TenUpTheme\Utility\get_colors() has no return type specified.
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Function TenUpTheme\Core\theme_setup() has no return type specified.
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Ignore remove_filter parameter count error
  phpstan/config/default.neon
Due: none

Argument of an invalid type string supplied for foreach, only iterables are supported.
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Function wp_body_open() has no return type specified.
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Function TenUpPlugin\Utility\get_asset_info() should return array|string but returns null.
  mu-plugins/10up-plugin/includes/utility.php
  themes/10up-theme/includes/utility.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Function TenUpPlugin\Core\style_url() should return string but returns WP_Error.
  mu-plugins/10up-plugin/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Moved config to root phpstan dir
  phpstan.neon
  phpstan/default.neon
Due: none

Fix function not found errors
  mu-plugins/10up-plugin/plugin.php
  themes/10up-theme/functions.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Don’t error if default ignores don’t match
  phpstan/default.neon
Due: none

added readme update to link to documentation
  themes/10up-theme/TAILWIND.md
Due: none

added doc links
  README.md
Due: none

added purgecss-with-wordpress to safelist output WP classes
  package-lock.json
  themes/10up-theme/package.json
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

begun documentation amendments
  themes/10up-theme/TAILWIND.md
Due: none

fix spelling of blocn edit export
  themes/10up-theme/includes/blocks/example-block/edit.js
Due: 10up-toolkit lint-js

add sample block-template-part
  themes/10up-theme/block-template-parts/header.html
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: (any of: *.js) or (any of: *.jsx)
  ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s: any of: *.php
