Repository 10up/wp-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

.lintstagedrc.json:

{
    "*.css": [
      "10up-toolkit lint-style"
    ],
    "*.js": [
      "10up-toolkit lint-js"
    ],
    "*.jsx": [
      "10up-toolkit lint-js"
    ],
    "*.php": [
      "./vendor/bin/phpcs --extensions=php --warning-severity=8 -s"
    ]
}

automated asset version
  mu-plugins/10up-plugin/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

update 10up-toolkit to version 4.2
  mu-plugins/10up-plugin/package.json
  themes/10up-theme/functions.php
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/includes/blocks/example-block/block.json
  themes/10up-theme/includes/blocks/example-block/edit.js
  themes/10up-theme/includes/blocks/example-block/index.js
  themes/10up-theme/package.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Example Block: Remove tabs
  themes/10up-theme/includes/blocks/example-block/block.json
Due: none

Update themes/10up-theme/tailwind.config.js
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

We need to scan vendor files, but not analyse them
  phpstan/default.neon
Due: none

Update package version
  composer.lock
Due: none

Add some basic docs
  docs/phpstan.md
Due: none

Missing tab
  mu-plugins/10up-plugin/plugin.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add additional notes about running on VIP setups
  docs/phpstan.md
Due: none

Set up the module class
  mu-plugins/10up-plugin/includes/classes/Module.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Install deps and add the auto-registration for classes
  mu-plugins/10up-plugin/composer.json
  mu-plugins/10up-plugin/composer.lock
  mu-plugins/10up-plugin/includes/classes/ModuleInitialization.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Auto init classes
  mu-plugins/10up-plugin/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Basic docs
  docs/registering-classes.md
Due: none

Update docs
  docs/registering-classes.md
Due: none

Typo fixes, added additional sections for clarity
  themes/10up-theme/TAILWIND.md
Due: none

Added additional sentence change
  themes/10up-theme/TAILWIND.md
Due: none

Update TAILWIND.md
  themes/10up-theme/TAILWIND.md
Due: none

Remove extra example safelist entries
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Add missing package, update README
  package-lock.json
  themes/10up-theme/TAILWIND.md
  themes/10up-theme/package.json
Due: none

Removed old README content and added link to TAILWIND.md
  themes/10up-theme/README.md
Due: none

Added additional documentation note for clarity
  themes/10up-theme/TAILWIND.md
Due: none

typo fix
  themes/10up-theme/TAILWIND.md
Due: none

Add postcss modifications and stylintrc
  .stylelintrc
  themes/10up-theme/package.json
  themes/10up-theme/postcss.config.js
Due: 10up-toolkit lint-js

Add stylelint
  package-lock.json
  themes/10up-theme/.stylelintrc
  themes/10up-theme/package.json
Due: none

Add custom tailwind reset and modify folder structure/imports
  themes/10up-theme/assets/css/frontend/base/wordpress.css
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/assets/css/frontend/tailwind/index.css
  themes/10up-theme/assets/css/frontend/tailwind/reset.css
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Add more documentation
  README.md
  themes/10up-theme/TAILWIND.md
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Refactor folder structure with correct ordering of imports
  themes/10up-theme/assets/css/frontend/base/wordpress.css
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/assets/css/frontend/tailwind/components.css
  themes/10up-theme/assets/css/frontend/tailwind/index.css
  themes/10up-theme/assets/css/frontend/tailwind/reset.css
  themes/10up-theme/assets/css/frontend/tailwind/utilities.css
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Refactor postcss config
  themes/10up-theme/assets/css/frontend/tailwind/components.css
  themes/10up-theme/postcss.config.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Mod remove comment
  themes/10up-theme/tailwind.config.js
Due: 10up-toolkit lint-js

Filter the init value
  mu-plugins/10up-plugin/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Allow ordering of which classes load first
  mu-plugins/10up-plugin/includes/classes/Module.php
  mu-plugins/10up-plugin/includes/classes/ModuleInitialization.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add a helper function
  mu-plugins/10up-plugin/composer.json
  mu-plugins/10up-plugin/includes/helpers/helpers.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Duplicate in theme
  themes/10up-theme/composer.json
  themes/10up-theme/composer.lock
  themes/10up-theme/functions.php
  themes/10up-theme/includes/classes/Module.php
  themes/10up-theme/includes/classes/ModuleInitialization.php
  themes/10up-theme/includes/core.php
  themes/10up-theme/includes/helpers.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Add admin warnings if composer.json is missing
  mu-plugins/10up-plugin/includes/core.php
  themes/10up-theme/includes/core.php
Due: ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Removes older button component
  themes/10up-theme/includes/blocks/tui-button/block.json
  themes/10up-theme/includes/blocks/tui-button/edit.js
  themes/10up-theme/includes/blocks/tui-button/index.css
  themes/10up-theme/includes/blocks/tui-button/index.js
  themes/10up-theme/includes/blocks/tui-button/markup.php
  themes/10up-theme/includes/blocks/tui-button/save.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --warning-severity=8 -s

Remove admin inclusion of front end
  themes/10up-theme/assets/js/admin/admin.js
Due: 10up-toolkit lint-js

Add several updates to the docs
  themes/10up-theme/README.md
  themes/10up-theme/TAILWIND.md
  themes/10up-theme/assets/css/frontend/tailwind/components.css
  themes/10up-theme/assets/css/frontend/tailwind/utilities.css
Due: 10up-toolkit lint-style

Remove repeated code snippet
  themes/10up-theme/TAILWIND.md
Due: none

Mod docs updates
  themes/10up-theme/TAILWIND.md
Due: none
